:root {
  --main: #1a1919;
  --main-light: #7c7a7a;
  --orange: orange;
  --light-gray: #bebebe;
  --radius-1: 10px;
  --secondary: rgb(82, 152, 209);
}

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 50px 0;
  font-family: sans-serif;
  background-color: var(--main-light);
  font-size: 16px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  padding: 20px 0;
}

.logo {
  font-size: 2rem;
  font-weight: 800;
}

.tabs {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tab {
  color: white;
  background-color: var(--main);
  padding: 10px 30px;
  width: fit-content;
  border-radius: var(--radius-1);
  cursor: pointer;
  font-weight: 700;
}

.tab:hover {
  background-color: var(--orange);
}

.tabs span {
  color: white;
}

.lists {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 50px;
}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: white;
  flex-grow: 1;
  flex-basis: 300px;
  padding: 30px 30px;
  background-color: var(--main);
  border-radius: var(--radius-1);
  transition: 500ms;
}

.list-item:hover {
  transform: scale(101%);
  cursor: pointer;
  background-color: black;
}

.list-item p span {
  color: orange;
}

.line-main {
  background-color: var(--main);
  height: 1.5px;
  margin: 10px 0;
}

.line-gray {
  background-color: var(--light-gray);
  height: 1.5px;
  margin: 10px 0;
}

/* Colors */
.secondary {
  color: var(--secondary) !important;
}

@media (max-width: 900px) {
  .top-bar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 20px;
    justify-items: center;
  }

  .logo {
    text-align: center;
  }

  .tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    margin: 0 auto;
    gap: 5px;
  }

  .tab {
    font-size: 14px;
    padding: 5px 15px;
    width: fit-content;
    font-weight: 700;
  }
}
